torch==2.7.1+cpu
torchvision==0.22.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

sentence-transformers
fastapi
uvicorn
python-multipart

faiss-cpu
numpy

langchain
langchain-community
langchain-text-splitters

pypdf
python-docx
docx2txt
pandas
openpyxl

groq
python-dotenv

rank-bm25

streamlit
bcrypt